## Use python 3.9

--extra-index-url https://download.pytorch.org/whl/cpu

streamlit==1.30.0
torch==2.2.1+cpu
torchvision==0.17.1+cpu
torchaudio==2.2.1+cpu
torchtext==0.17.1+cpu
datasets==2.15.0
tokenizers==0.15.0
torchmetrics==1.0.3
tensorboard==2.13.0
altair==5.1.1
matplotlib
seaborn
huggingface_hub==0.20.3  # ✅ Added this for HF model download
